
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#header {
  position: relative;
}
.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.header-left{
  margin-left:10rem;
  margin-top: 25rem;
}
.header-img{
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.header h1 {
  font-size: 4rem;
  line-height: 1.4;
  text-transform: uppercase;
  color: black;
  position: relative;
  padding-bottom: 2rem;
}

.header h1 span {
  display: block;
  font-family: 'Roboto', sans-serif;
}
.btn1{
  padding: 0;
  background: rgb(172, 46, 67);
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  font-weight: 700;
 margin-left: 3rem;
  cursor: pointer;
  height: 5rem;
  width: 15rem;
border: none;
}
.btn2{
  margin-left: 3rem;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  height: 5rem;
  width: 15rem;
border:1px  solid rgb(172, 46, 67)  ;
  background: #fff;
  color: rgb(172, 46, 67);
  padding: 0;
}

.header-left p {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 300;
  color: #464545;
  margin: 3rem 0;
  width: 100%;
}

.header-right  {
  height: 80vh;
 
  width: 100%;
}



@media screen and (max-width: 769px) {
  .header h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .header-left,
  .header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .header-left {
    margin-bottom: 4rem;
  }

  .header h1::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .header-right img {
    width: 80%;
  }
}
